* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.woff") format("woff"),url("../fonts/Lora-Regular.woff2") format("woff2"), url("../fonts/Lora-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    font-weight: 500;
    src: url("../fonts/Lora-Medium.woff") format("woff"), url("../fonts/Lora-Medium.woff2") format("woff2"), url("../fonts/Lora-Medium.ttf") format("truetype");
}

$whiteColor: #FCFBFA;

@mixin line {
    border-bottom: 1px solid #1F1E1C;
}

@mixin headerFooterContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 80px;
    align-items: center;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: $whiteColor;
    font-family: 'Lora', serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

