section.about
 .container.about--container
   h1.about--h1 Премьера вызывающе красивого спектакля от режиссера Жана Портье
   p.about__p.about__p--date 20.02.2020
   p.about__p.about__p--author Автор статьи: Кристина Петрова
   p.about__p.about__p--photo Фотограф: Пьер Буше