header.header
  .container.header--container
    img(src="./images/Logotype.svg", alt="logo")
    nav
      ul.header--ul
        li
          a(href="") Премьеры
        li
          a(href="") Интервью
        li
          a(href="") Новости
        li
          a(href="") Дискуссии
        li
          a(href="") Рекомендации